

{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<title>
{% block title %}
 {% endblock %}
</title>
<link rel='stylesheet' type='text/css' media='screen' 
href="{% static 'css/base.css'%}">

{% block styles %}



{% endblock %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-success ">
    <a class="navbar-brand" href="#">Commerce electronique</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-light" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active text-light">
          <a class="nav-link text-light"  href="{% url 'index' %}">Catalogue <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="{% url 'fournisseurs' %}">fournisseur </a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-light" name="prod" href="#">Produit </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="{}">administration</a>
        </li>

        
        
      </ul>
    </div>
    <ul class="navbar-nav mr-auto"></ul>
        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
          <li class="nav-item active ml-auto">
            <a class="nav-link text-light" name="" href="#">{{user}}</a>
          </li>
          <li class="nav-item active ml-auto">
            <a class="nav-link text-light" href="{% url 'logout' %}">Déconnexion</a>
          </li>
        </ul>
        
          {% else %}
          <li class="nav-item active">
          <a class="nav-link text-light" href="{% url 'login'%}">Connexion</a>
          </li>
          <li class="nav-item active">
          <a class="nav-link text-light" href="{% url 'register' %}">Inscription</a>
          </li>
          {% endif %}
          </ul>
  </nav>
  
  
{% block content %} 
{% endblock %}
</body>
</html>



























